# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
14) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
15) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
16) List Comprehensions <br>
17) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### Int & Float Assignments

##### Assigning int

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

##### Subtraction

##### Multiplication

##### Division

##### Floor Division

##### Modulo

##### Exponential

### String Input-Output

##### String Assignment

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

##### Type Conversion

##### input()

##### format()

In [1]:
input('what is your name')

'Brandon'

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [50]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [51]:
# is vs ==
# AKA referecial equality
# '1 is 1' is literal/no need to check
brandons_grades = [85, 95, 100]
joshs_grades = [75, 100, 100]
print(brandons_grades is joshs_grades)

False

##### 'in' keyword

In [52]:
#check if a char is in a collection
character = "Vector"
if "e" in character:
    print('found the e!')

found the e!

##### 'not in' keyword'

In [53]:
if "0" not in character:
    print('hi')

hi

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [54]:
num1 =15
num2=3
num3=10
num4=2
if num1 /5 == num2 and num3 - 7 == num4:
    print('True and True')

if num1 > num2 or num3 == num4:
    print('True and False')

True and False

### Elif Statements

### Else Statements

In [55]:
# see above

### For Loops

In [56]:
#SYNTAX
#for KEYWORD is ITERABLE:
name = 'Brandon'

#method one of Looping. Jus using the elements
for letter in name:
    print(letter)

print('==============================================')

#method 2 of Looping: Using the index
for index in range(len(name)):
    print(index, name[index])
    if index == 6:
        print("FOUND THE SIXTH!")

B
r
a
n
d
o
n
==============================================
0 B
1 r
2 a
3 n
4 d
5 o
6 n
FOUND THE SIXTH!

##### Using 'in' keyword

In [57]:
# see above

##### Continue Statement

In [58]:
# will continue to next iteration

In [59]:
for num in range(12):
    print(num)
    if num == 5:
        continue
        print(num)
        print('done')

0
1
2
3
4
5
6
7
8
9
10
11

##### Break Statement

In [60]:
# will break out of current loop

##### Pass Statement

In [61]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [62]:
#conceptual use of double loop
# for i in range(3):
#     for j in range(5):
#        # print('i=', i, 'j=', j)
#        pass

#     names = ['Brandon', "Joshua"]
    
#     for name in names:
#         print(name)
#         for char in name:
#             print(char)

### While Loops

In [107]:
#SYNTAZ
#while CONDITION:
num=0
while num < 10:
    print(num)
    num += 1
print('done')
print(input)

# answer = 64
# correct = False
# while not correct:
#     guess = int(input("Guess a number between 0 and 100"))
#     if guess == answer:
#         correct = True
#     else:
#         print(f 'Your guess : {guess} : is not correct... please try again')

0
1
2
3
4
5
6
7
8
9
done
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001FC0C937BB0>>

##### Looping 'While True'

In [64]:
game_over = False
while True:
    print('Infinite Loop')
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [65]:
num = 0

while num < 5:
    print('\n While loop interation', num)

    for i in range(2):
        print("For Loop interation", i)

    num += 1

 While loop interation 0
For Loop interation 0
For Loop interation 1

 While loop interation 1
For Loop interation 0
For Loop interation 1

 While loop interation 2
For Loop interation 0
For Loop interation 1

 While loop interation 3
For Loop interation 0
For Loop interation 1

 While loop interation 4
For Loop interation 0
For Loop interation 1

### Built-In Functions

##### range()

In [102]:
#SYNTAX
#range(start, stop, step)
#start and step are optional

for num in range(2, 10, 3):
    print(num)

2
5
8

##### len()

In [101]:
name == 'Joshua'
length = len(name)
print(length)

for i in range(len(name)):
    print(i, name[i])

6
0 J
1 O
2 R
3 D
4 A
5 N

##### help()

##### isinstance()

In [68]:
num = "99"
if isinstance(num, int):
    num + 1
else:
    int(num) + 1

##### abs()

In [69]:
abs(-5)

5

### Try and Except

In [70]:
try:
    answer = 7
    guess = int(input)
except:
    pass

### Lists

##### Declaring Lists

In [71]:
l1 = []
print(l1)
print(type(l1))

names = ['Brandon', 'Cole', "Joshua"]
print(names)

[]
<class 'list'>
['Brandon', 'Cole', 'Joshua']

##### Indexing a List

In [72]:
second = names[1]
print(second)

Cole

##### .append()

In [73]:
names.append('Terryl')
print(names)

['Brandon', 'Cole', 'Joshua', 'Terryl']

##### .insert()

In [74]:
names.insert(2, 'Kobe')
print(names)

['Brandon', 'Cole', 'Kobe', 'Joshua', 'Terryl']

##### .pop()

In [75]:
# by default, pop will remove the LAST item and return it
last = names.pop()
print(last)
print(names)

#pop also allows to pass in an index, so you dont have to only grab the last item
# another = name.pop(2)
# print(another)
# print(names)

Terryl
['Brandon', 'Cole', 'Kobe', 'Joshua']


##### .remove()

##### del()

##### Concatenating Two Lists

In [76]:
l1 = [1,2,3,4]
l2 =[5,6,7,8]
beeg = l1+l2
print(beeg)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]
[5, 6, 7, 8]

##### Lists Within Lists

In [77]:
grades = [[5, 5, 5, 5,], [4,5,4,5,], [3,5,4,5]]
print(len(grades))
print(grades[1][2])

3
4

##### Looping Through Lists

In [78]:
name1 = ['Brandon', 'Cole', ['Josh', 'Kobe']]

for name1 in name1:
    if isinstance(name1, list):
        for name2 in name:
            print(name2)
        else:
            print(name1)

B
r
a
n
d
o
n
['Josh', 'Kobe']

### String Manipulation

##### .lstrip()

In [79]:
# string.lstrip()

##### .rstrip()

In [80]:
# string.rstrip()

##### .strip()

In [81]:
# string.strip()

##### .title()

In [5]:
# string.title()

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [83]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
for name in names:
    print(name.strip(' ').title())
# HINT: You will need to use a for loop for iteration

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [84]:
# min(list)
list1 = [99,77, 23, 21, 12]
mymin = min(list1)
print(mymin)

12

##### max()

In [85]:
# max(list)

##### sum()

In [86]:
# sum(list)
mysum= sum(list1)
print(mysum)

232

##### sorted()

In [87]:
# sorted(list)
sortedCopy = sorted(list1)
print(sortedCopy)
print(list1)

[12, 21, 23, 77, 99]
[99, 77, 23, 21, 12]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [88]:
# list.sort()
myRetrun = list1.sort()
print(myRetrun)
print(list1)

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

None
[12, 21, 23, 77, 99]

##### Copying a List

In [7]:
# [:] copies a list, doesn't alter original
nums = [1,2,3,4,5,6,7,8,9]

#reverse the list
x = nums [::-1]

print(nums)
print(x)

nums[2] = 99

print(nums)
print(x)

nums[0]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 99, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

1

##### 'in' keyword

In [8]:
#check each individual character to find what you are looking for

5 in nums

False

##### 'not in' keyword

In [11]:
5 not in nums

False

##### Checking an Empty List

In [12]:
# if l_1: or if l_1 = []

nums = []
print(nums ==[])
if nums:
    print('not empty')
else:
    print('i am empty')

True
i am empty

##### Removing Instances with a Loop

In [19]:
# while, remove

names = ['Brandon', 'Brandon', 'Kobe' ,'Terryl', 'Mike', 'Mike']
while 'Mike' in names:
    names.remove('Mike')
print(names)

# names = ['Brandon', 'Brandon', 'Kobe' ,'Terryl', 'Mike', 'Mike']
# for name in names:
#     if name == "Mike":
#         names.remove('Mike')
# print(names)

['Brandon', 'Brandon', 'Kobe', 'Terryl']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [24]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

# while 'connor' in names:
#     names.remove('connor')
# for '2' in names:
#     names.remove('2')
# print(names)

# for name in names:
#     if 

name_2[]
for name is names:
    if name not in names_2:
print

SyntaxError: cannot assign to literal (3731721830.py, line 7)

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [93]:
# number comprehension

# With a regular for loop



# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [94]:
# square number comprehension
squares = []
for num in range(10):
    squares.append(num*2)
print(squares)

#list comprhension
squares_lv = [num**2 for num in range(10)]
print(squares_lc)

In [27]:
# string comprehension
names = ["Cole", "Brandon", "Joshua", "Terryl"]

first_char = []
for name in names:
    if name[0].lower()== 'b':
        first_char.append(name[0].lower())
print(first_char)

first_lc = [name[0].lower() for name in names if name[0].upper() == 'B']
print(first_lc)

['b']
['b']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [30]:
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1)
print(type(tup1))

(1, 2, 3)
<class 'tuple'>

##### sorted()

In [32]:
tup2 = (10, 9, 8)
sortedTup = tuple(sorted(tup2))
print(sortedTup)
print(tup2)

(8, 9, 10)
(10, 9, 8)

##### Adding values to a Tuple

In [33]:
tup4 = tup1 + tup2
print(tup1)
print(tup2)
print(tup4)

(1, 2, 3)
(10, 9, 8)
(1, 2, 3, 10, 9, 8)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [16]:
num_li = []
for value in range(1, 11):
    cube = value ** 3
    num_li.append(cube)
print(num_li)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for num in range(2, 100):
    for factor in range(2, num):
        if num % factor == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
age = input('What is your age? ')
if age < '18': 
    print('Kid')
elif age > '65':
    print('Senior')
else:
    print('Adult')

Kid

## Exercise 4 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [ ]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]